body {
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    color: cyan;
    font-size: 32px;
}

p{
    color: blue;
    font-size: 20px;
}

#testGif{
    width: 600px;
    height:600px;
    border: 3px solid #333;
    border-radius: 10px;
    margin-top: 20px;
}